In [4]:
import numpy as np
import pandas as pd

In [7]:
csv_path = r"C:\Users\kjain307\Documents\GitHub\INST737-UniversityOfMaryland-DataScience-H1BAnalysis\Milestone2\encoding\FiveYearCleanCleanEncode3.csv"

In [8]:
df=pd.read_csv(csv_path)

C:\Users\kjain307\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20,27,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.head(5)

,Unnamed: 0,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,AGENT_PRESENT,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,DURATION,...,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_FROM_YEAR,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,1,I-200-09121-701936,3,2/5/2015,2/5/2015,0,...,H-1B,20000,20000,NaN,Year,0,EDEN PRAIRIE,STERNS,55412,4
1,1,NaN,NaN,NaN,0,I-200-09146-796321,0,12/12/2014,12/18/2014,6,...,H-1B,85000,85000,NaN,Year,0,NORMAN,CLEVELAND,73019,40
2,2,DALLAS,HASEENA ENU,TX,1,I-200-09180-329758,3,1/3/2013,12/15/2014,711,...,H-1B,94000,94000,NaN,Year,0,SAN DIEGO,SAN DIEGO,92127,4
3,3,SCHAUMBURG,ELDON KAKUDA,IL,1,I-200-09183-259985,0,3/10/2015,3/16/2015,6,...,H-1B,66000,66000,70000,Year,0,HOUSTON,HARRIS,77088,49
4,4,WASHINGTON,JAMES ALEXANDER,DC,1,I-200-09189-800933,0,12/17/2014,12/23/2014,6,...,H-1B,97000,97000,143300,Year,0,MCLEAN,FAIRFAX,22102,51

In [10]:
import numpy as np
df.drop(["Unnamed: 0"], axis = 1, inplace = True) # dropping redundunt s.no

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
df.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,AGENT_PRESENT,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,DURATION,EMPLOYER_ADDRESS,...,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_FROM_YEAR,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,1,I-200-09121-701936,3,2/5/2015,2/5/2015,0,710 MEDTRONIC PARKWAY NE,...,H-1B,20000,20000,NaN,Year,0,EDEN PRAIRIE,STERNS,55412,4
1,NaN,NaN,NaN,0,I-200-09146-796321,0,12/12/2014,12/18/2014,6,905 ASP AVE,...,H-1B,85000,85000,NaN,Year,0,NORMAN,CLEVELAND,73019,40
2,DALLAS,HASEENA ENU,TX,1,I-200-09180-329758,3,1/3/2013,12/15/2014,711,6021 CONNECTION DRIVE,...,H-1B,94000,94000,NaN,Year,0,SAN DIEGO,SAN DIEGO,92127,4
3,SCHAUMBURG,ELDON KAKUDA,IL,1,I-200-09183-259985,0,3/10/2015,3/16/2015,6,9510 N. HOUSTON ROSSLYN ROAD,...,H-1B,66000,66000,70000,Year,0,HOUSTON,HARRIS,77088,49
4,WASHINGTON,JAMES ALEXANDER,DC,1,I-200-09189-800933,0,12/17/2014,12/23/2014,6,8250 JONES BRANCH DRIVE,...,H-1B,97000,97000,143300,Year,0,MCLEAN,FAIRFAX,22102,51

In [13]:
#df.describe(include="all")# include all helps to the data including irregularities like NaN

In [14]:
missing_data=df.isnull()#returns True if null is present
#missing_data.head(10)

In [15]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

AGENT_ATTORNEY_CITY
False    640970
True     386873
Name: AGENT_ATTORNEY_CITY, dtype: int64

AGENT_ATTORNEY_NAME
False    640970
True     386873
Name: AGENT_ATTORNEY_NAME, dtype: int64

AGENT_ATTORNEY_STATE
False    624259
True     403584
Name: AGENT_ATTORNEY_STATE, dtype: int64

AGENT_PRESENT
False    1027843
Name: AGENT_PRESENT, dtype: int64

CASE_NUMBER
False    1027843
Name: CASE_NUMBER, dtype: int64

CASE_STATUS
False    1027843
Name: CASE_STATUS, dtype: int64

CASE_SUBMITTED
False    1027843
Name: CASE_SUBMITTED, dtype: int64

DECISION_DATE
False    1027843
Name: DECISION_DATE, dtype: int64

DURATION
False    1027843
Name: DURATION, dtype: int64

EMPLOYER_ADDRESS
False    1027843
Name: EMPLOYER_ADDRESS, dtype: int64

EMPLOYER_CITY
False    1027843
Name: EMPLOYER_CITY, dtype: int64

EMPLOYER_COUNTRY
False    1027843
Name: EMPLOYER_COUNTRY, dtype: int64

EMPLOYER_NAME
False    1027843
Name: EMPLOYER_NAME, dtype: int64

EMPLOYER_STATE
False    1027843
Name: EMPLOYER_STATE, dtype: int64

EMPLOYMENT_END_DATE
False    1027832
True          11
Name: EMPLOYMENT_END_DATE, dtype: int64

EMPLOYMENT_START_DATE
False    1027837
True           6
Name: EMPLOYMENT_START_DATE, dtype: int64

H-1B_DEPENDENT
False    1027840
True           3
Name: H-1B_DEPENDENT, dtype: int64

JOB_TITLE
False    1027840
True           3
Name: JOB_TITLE, dtype: int64

PREVAILING_WAGE
False    1027843
Name: PREVAILING_WAGE, dtype: int64

YEARLY_WAGE
False    1027843
Name: YEARLY_WAGE, dtype: int64

PW_UNIT_OF_PAY
False    1027843
Name: PW_UNIT_OF_PAY, dtype: int64

PW_WAGE_SOURCE_YEAR
False    1027843
Name: PW_WAGE_SOURCE_YEAR, dtype: int64

SOC_CODE
False    1027842
True           1
Name: SOC_CODE, dtype: int64

SOC_NAME
False    1027843
Name: SOC_NAME, dtype: int64

TOTAL_WORKERS
False    1027843
Name: TOTAL_WORKERS, dtype: int64

VISA_CLASS
False    1027843
Name: VISA_CLASS, dtype: int64

WAGE_RATE_OF_PAY_FROM
False    1027843
Name: WAGE_RATE_OF_PAY_FROM, dtype: int64

WAGE_RATE_OF_PAY_FROM_YEAR
False    1027843
Name: WAGE_RATE_OF_PAY_FROM_YEAR, dtype: int64

WAGE_RATE_OF_PAY_TO
True     901220
False    126623
Name: WAGE_RATE_OF_PAY_TO, dtype: int64

WAGE_UNIT_OF_PAY
False    1027843
Name: WAGE_UNIT_OF_PAY, dtype: int64

WILLFUL_VIOLATOR
False    1027843
Name: WILLFUL_VIOLATOR, dtype: int64

WORKSITE_CITY
False    1027824
True          19
Name: WORKSITE_CITY, dtype: int64

WORKSITE_COUNTY
False    1025869
True        1974
Name: WORKSITE_COUNTY, dtype: int64

WORKSITE_POSTAL_CODE
False    1027819
True          24
Name: WORKSITE_POSTAL_CODE, dtype: int64

WORKSITE_STATE
False    1027843
Name: WORKSITE_STATE, dtype: int64

In [16]:
df.columns

Index(['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'AGENT_PRESENT', 'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED',
       'DECISION_DATE', 'DURATION', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY',
       'EMPLOYER_COUNTRY', 'EMPLOYER_NAME', 'EMPLOYER_STATE',
       'EMPLOYMENT_END_DATE', 'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT',
       'JOB_TITLE', 'PREVAILING_WAGE', 'YEARLY_WAGE', 'PW_UNIT_OF_PAY',
       'PW_WAGE_SOURCE_YEAR', 'SOC_CODE', 'SOC_NAME', 'TOTAL_WORKERS',
       'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_FROM_YEAR',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'],
      dtype='object')

In [17]:
# drop whole row with NaN in "WILLFUL_VIOLATOR" column as we have identified this column for encoding
df.dropna(subset=["WILLFUL_VIOLATOR"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [18]:
X=df[['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE']].values

In [19]:
X[:2]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.', 26,
        '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER', 19000.0,
        'Year', 2014, '17-2141.00', 'MECHANICAL ENGINEERS', 1, 'H-1B',
        20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS', '55412', 4],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 40,
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 40]], dtype=object)

In [20]:
df.CASE_STATUS.unique()#find unique values withinn CASE_STATUS for encoding

array([3, 0, 2, 1], dtype=int64)

In [21]:
from sklearn import preprocessing
le_CASE_STATUS=preprocessing.LabelEncoder()
le_CASE_STATUS.fit(['WITHDRAWN', 'CERTIFIED', 'DENIED', 'CERTIFIED-WITHDRAWN'])
X[:,4]=le_CASE_STATUS.transform(X[:,4])

ValueError: y contains previously unseen labels: 3

In [22]:
df.WILLFUL_VIOLATOR.unique()#find unique values withinn WILLFUL_VIOLATOR for encoding

array([0, 1], dtype=int64)

In [23]:
le_WILLFUL_VIOLATOR=preprocessing.LabelEncoder()
le_WILLFUL_VIOLATOR.fit(['N', 'Y'])
X[:,26]=le_WILLFUL_VIOLATOR.transform(X[:,26])

ValueError: y contains previously unseen labels: 0

In [24]:
X[0:5]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.', 26,
        '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER', 19000.0,
        'Year', 2014, '17-2141.00', 'MECHANICAL ENGINEERS', 1, 'H-1B',
        20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS', '55412', 4],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 40,
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 40],
       ['DALLAS', 'HASEENA ENU', 'TX', 'I-200-09180-329758', 3,
        '1/3/2013', '12/15/2014', '6021 CONNECTION DRIVE', 'IRVING',
        'UNITED STATES OF AMERICA', 'NOKIA INC.', 49, '1/6/2016',
        '1/7/2013', 'N', 'RELEASE AND SOFTWARE TEST MANAGER', 73965.0,
        'Year', 2012, '15-1799', 'COMPUTER OCCUPATIONS, ALL OTHER*', 1,
        'H-1B', 94000.0, nan, 'Year', 0, 'SAN DIEGO', 'SAN DIEGO',
        '92127', 4],
       ['SCHAUMBURG', 'ELDON KAKUDA', 'IL', 'I-200-09183-259985', 0,
        '3/10/2015', '3/16/2015', '9510 N. HOUSTON ROSSLYN ROAD',
        'HOUSTON', 'UNITED STATES OF AMERICA',
        'OMRON OILFIELD AND MARINE, INC.', 49, '9/7/2018', '9/7/2015',
        'N', 'CONTROL ENGINEERING SPECIALIST', 65998.0, 'Year', 2014,
        '17-2072', 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 2, 'H-1B',
        66000.0, 70000.0, 'Year', 0, 'HOUSTON', 'HARRIS', '77088', 49],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09189-800933', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA', 'FEDERAL HOME LOAN MORTGAGE CO.', 51,
        '6/5/2018', '6/6/2015', 'N', 'DEVELOPMENT SENIOR', 96907.0,
        'Year', 2014, '15-1131', 'COMPUTER PROGRAMMERS', 1, 'H-1B',
        97000.0, 143300.0, 'Year', 0, 'MCLEAN', 'FAIRFAX', '22102', 51]],
      dtype=object)

In [25]:
df1=pd.DataFrame(X, columns = ['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'])#saving encoded data into new dataframe

In [26]:
df1.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_COUNTRY,...,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,I-200-09121-701936,3,2/5/2015,2/5/2015,710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,UNITED STATES OF AMERICA,...,1,H-1B,20000,NaN,Year,0,EDEN PRAIRIE,STERNS,55412,4
1,NaN,NaN,NaN,I-200-09146-796321,0,12/12/2014,12/18/2014,905 ASP AVE,NORMAN,UNITED STATES OF AMERICA,...,1,H-1B,85000,NaN,Year,0,NORMAN,CLEVELAND,73019,40
2,DALLAS,HASEENA ENU,TX,I-200-09180-329758,3,1/3/2013,12/15/2014,6021 CONNECTION DRIVE,IRVING,UNITED STATES OF AMERICA,...,1,H-1B,94000,NaN,Year,0,SAN DIEGO,SAN DIEGO,92127,4
3,SCHAUMBURG,ELDON KAKUDA,IL,I-200-09183-259985,0,3/10/2015,3/16/2015,9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,UNITED STATES OF AMERICA,...,2,H-1B,66000,70000,Year,0,HOUSTON,HARRIS,77088,49
4,WASHINGTON,JAMES ALEXANDER,DC,I-200-09189-800933,0,12/17/2014,12/23/2014,8250 JONES BRANCH DRIVE,MCLEAN,UNITED STATES OF AMERICA,...,1,H-1B,97000,143300,Year,0,MCLEAN,FAIRFAX,22102,51

In [ ]:
#df1.to_csv(r"/Users/danishmir/desktop/737-project/FiveYearCleanClean-ToFromClean-encoded.csv",index=True)

In [27]:
df["WAGE_UNIT_OF_PAY"].unique()

array(['Year', 'Hour', 'Month', 'Week', 'Bi-Weekly'], dtype=object)