In [2]:
import numpy as np
import pandas as pd

In [3]:
csv_path = r"C:\Users\ghasija1\Downloads\FiveYearCleanClean-ToFromClean.csv"

In [4]:
df=pd.read_csv(csv_path)

FileNotFoundError: [Errno 2] File C:\Users\ghasija1\Downloads\FiveYearCleanClean-ToFromClean.csv does not exist: 'C:\\Users\\ghasija1\\Downloads\\FiveYearCleanClean-ToFromClean.csv'

In [144]:
df.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_COUNTRY,...,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,I-200-09121-701936,WITHDRAWN,2/5/2015,2/5/2015,710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,UNITED STATES OF AMERICA,...,1.0,H-1B,20000,NaN,Year,N,EDEN PRAIRIE,STERNS,55412,CA
1,NaN,NaN,NaN,I-200-09146-796321,CERTIFIED,12/12/2014,12/18/2014,905 ASP AVE,NORMAN,UNITED STATES OF AMERICA,...,1.0,H-1B,85000,NaN,Year,N,NORMAN,CLEVELAND,73019,OK
2,DALLAS,HASEENA ENU,TX,I-200-09180-329758,WITHDRAWN,1/3/2013,12/15/2014,6021 CONNECTION DRIVE,IRVING,UNITED STATES OF AMERICA,...,1.0,H-1B,94000,NaN,Year,N,SAN DIEGO,SAN DIEGO,92127,CA
3,SCHAUMBURG,ELDON KAKUDA,IL,I-200-09183-259985,CERTIFIED,3/10/2015,3/16/2015,9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,UNITED STATES OF AMERICA,...,2.0,H-1B,66000,70000,Year,N,HOUSTON,HARRIS,77088,TX
4,WASHINGTON,JAMES ALEXANDER,DC,I-200-09189-800933,CERTIFIED,12/17/2014,12/23/2014,8250 JONES BRANCH DRIVE,MCLEAN,UNITED STATES OF AMERICA,...,1.0,H-1B,97000,143300,Year,N,MCLEAN,FAIRFAX,22102,VA

In [145]:
import numpy as np
df.drop(["Unnamed: 0"], axis = 1, inplace = True) # dropping redundunt s.no

KeyError: "['Unnamed: 0'] not found in axis"

In [146]:
df.reset_index(drop=True, inplace=True)

In [1]:
df.head(20)

NameError: name 'df' is not defined

In [148]:
#df.describe(include="all")# include all helps to the data including irregularities like NaN

In [149]:
missing_data=df.isnull()#returns True if null is present
#missing_data.head(10)

In [150]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

AGENT_ATTORNEY_CITY
False    656049
True     392525
Name: AGENT_ATTORNEY_CITY, dtype: int64

AGENT_ATTORNEY_NAME
False    656049
True     392525
Name: AGENT_ATTORNEY_NAME, dtype: int64

AGENT_ATTORNEY_STATE
False    638374
True     410200
Name: AGENT_ATTORNEY_STATE, dtype: int64

CASE_NUMBER
False    1048574
Name: CASE_NUMBER, dtype: int64

CASE_STATUS
False    1048574
Name: CASE_STATUS, dtype: int64

CASE_SUBMITTED
False    1048574
Name: CASE_SUBMITTED, dtype: int64

DECISION_DATE
False    1048574
Name: DECISION_DATE, dtype: int64

EMPLOYER_ADDRESS
False    1048574
Name: EMPLOYER_ADDRESS, dtype: int64

EMPLOYER_CITY
False    1048574
Name: EMPLOYER_CITY, dtype: int64

EMPLOYER_COUNTRY
False    1048574
Name: EMPLOYER_COUNTRY, dtype: int64

EMPLOYER_NAME
False    1048574
Name: EMPLOYER_NAME, dtype: int64

EMPLOYER_STATE
False    1048520
True          54
Name: EMPLOYER_STATE, dtype: int64

EMPLOYMENT_END_DATE
False    1048543
True          31
Name: EMPLOYMENT_END_DATE, dtype: int64

EMPLOYMENT_START_DATE
False    1048546
True          28
Name: EMPLOYMENT_START_DATE, dtype: int64

H-1B_DEPENDENT
False    1027945
True       20629
Name: H-1B_DEPENDENT, dtype: int64

JOB_TITLE
False    1048553
True          21
Name: JOB_TITLE, dtype: int64

PREVAILING_WAGE
False    1048506
True          68
Name: PREVAILING_WAGE, dtype: int64

PW_UNIT_OF_PAY
False    1048483
True          91
Name: PW_UNIT_OF_PAY, dtype: int64

PW_WAGE_SOURCE_YEAR
False    1048477
True          97
Name: PW_WAGE_SOURCE_YEAR, dtype: int64

SOC_CODE
False    1048559
True          15
Name: SOC_CODE, dtype: int64

SOC_NAME
False    1048557
True          17
Name: SOC_NAME, dtype: int64

TOTAL_WORKERS
False    1048559
True          15
Name: TOTAL_WORKERS, dtype: int64

VISA_CLASS
False    1048574
Name: VISA_CLASS, dtype: int64

WAGE_RATE_OF_PAY_FROM
False    1048555
True          19
Name: WAGE_RATE_OF_PAY_FROM, dtype: int64

WAGE_RATE_OF_PAY_TO
True     918838
False    129736
Name: WAGE_RATE_OF_PAY_TO, dtype: int64

WAGE_UNIT_OF_PAY
False    1048540
True          34
Name: WAGE_UNIT_OF_PAY, dtype: int64

WILLFUL_VIOLATOR
False    1027943
True       20631
Name: WILLFUL_VIOLATOR, dtype: int64

WORKSITE_CITY
False    1048527
True          47
Name: WORKSITE_CITY, dtype: int64

WORKSITE_COUNTY
False    1046492
True        2082
Name: WORKSITE_COUNTY, dtype: int64

WORKSITE_POSTAL_CODE
False    1048521
True          53
Name: WORKSITE_POSTAL_CODE, dtype: int64

WORKSITE_STATE
False    1048542
True          32
Name: WORKSITE_STATE, dtype: int64

In [151]:
df.columns

Index(['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'],
      dtype='object')

In [152]:
# drop whole row with NaN in "WILLFUL_VIOLATOR" column as we have identified this column for encoding
df.dropna(subset=["WILLFUL_VIOLATOR"], axis=0, inplace=True)
df.dropna(subset=["EMPLOYER_STATE"], axis=0, inplace=True)
df.dropna(subset=["PREVAILING_WAGE"], axis=0, inplace=True)
df.dropna(subset=["PW_UNIT_OF_PAY"], axis=0, inplace=True)
df.dropna(subset=["PW_WAGE_SOURCE_YEAR"], axis=0, inplace=True)
df.dropna(subset=["SOC_NAME"], axis=0, inplace=True)
df.dropna(subset=["TOTAL_WORKERS"], axis=0, inplace=True)
df.dropna(subset=["WORKSITE_STATE"], axis=0, inplace=True)


# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [153]:
X=df[['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE']].values

In [154]:
X[:2]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936',
        'WITHDRAWN', '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.',
        'MN', '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER',
        19000.0, 'Year', 2014.0, '17-2141.00', 'MECHANICAL ENGINEERS',
        1.0, 'H-1B', 20000.0, nan, 'Year', 'N', 'EDEN PRAIRIE', 'STERNS',
        '55412', 'CA'],
       [nan, nan, nan, 'I-200-09146-796321', 'CERTIFIED', '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 'OK',
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 'N', 'NORMAN', 'CLEVELAND',
        '73019', 'OK']], dtype=object)

In [155]:
df.CASE_STATUS.unique()#find unique values withinn CASE_STATUS for encoding

array(['WITHDRAWN', 'CERTIFIED', 'DENIED', 'CERTIFIED-WITHDRAWN'],
      dtype=object)

In [156]:
from sklearn import preprocessing
le_CASE_STATUS=preprocessing.LabelEncoder()
le_CASE_STATUS.fit(['WITHDRAWN', 'CERTIFIED', 'DENIED', 'CERTIFIED-WITHDRAWN'])
X[:,5]=le_CASE_STATUS.transform(X[:,5])

In [157]:
df.WILLFUL_VIOLATOR.unique()#find unique values withinn WILLFUL_VIOLATOR for encoding

array(['N', 'Y'], dtype=object)

In [158]:
le_WILLFUL_VIOLATOR=preprocessing.LabelEncoder()
le_WILLFUL_VIOLATOR.fit(['N', 'Y'])
X[:,26]=le_WILLFUL_VIOLATOR.transform(X[:,26])

In [159]:
X[0:5]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.',
        'MN', '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER',
        19000.0, 'Year', 2014.0, '17-2141.00', 'MECHANICAL ENGINEERS',
        1.0, 'H-1B', 20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS',
        '55412', 'CA'],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 'OK',
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 'OK'],
       ['DALLAS', 'HASEENA ENU', 'TX', 'I-200-09180-329758', 3,
        '1/3/2013', '12/15/2014', '6021 CONNECTION DRIVE', 'IRVING',
        'UNITED STATES OF AMERICA', 'NOKIA INC.', 'TX', '1/6/2016',
        '1/7/2013', 'N', 'RELEASE AND SOFTWARE TEST MANAGER', 73965.0,
        'Year', 2012.0, '15-1799', 'COMPUTER OCCUPATIONS, ALL OTHER*',
        1.0, 'H-1B', 94000.0, nan, 'Year', 0, 'SAN DIEGO', 'SAN DIEGO',
        '92127', 'CA'],
       ['SCHAUMBURG', 'ELDON KAKUDA', 'IL', 'I-200-09183-259985', 0,
        '3/10/2015', '3/16/2015', '9510 N. HOUSTON ROSSLYN ROAD',
        'HOUSTON', 'UNITED STATES OF AMERICA',
        'OMRON OILFIELD AND MARINE, INC.', 'TX', '9/7/2018', '9/7/2015',
        'N', 'CONTROL ENGINEERING SPECIALIST', 65998.0, 'Year', 2014.0,
        '17-2072', 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 2.0, 'H-1B',
        66000.0, 70000.0, 'Year', 0, 'HOUSTON', 'HARRIS', '77088', 'TX'],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09189-800933', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA', 'FEDERAL HOME LOAN MORTGAGE CO.',
        'VA', '6/5/2018', '6/6/2015', 'N', 'DEVELOPMENT SENIOR', 96907.0,
        'Year', 2014.0, '15-1131', 'COMPUTER PROGRAMMERS', 1.0, 'H-1B',
        97000.0, 143300.0, 'Year', 0, 'MCLEAN', 'FAIRFAX', '22102', 'VA']],
      dtype=object)

In [160]:
df1=pd.DataFrame(X, columns = ['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'])#saving encoded data into new dataframe

In [161]:
df1.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_COUNTRY,...,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,I-200-09121-701936,3,2/5/2015,2/5/2015,710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,UNITED STATES OF AMERICA,...,1,H-1B,20000,NaN,Year,0,EDEN PRAIRIE,STERNS,55412,CA
1,NaN,NaN,NaN,I-200-09146-796321,0,12/12/2014,12/18/2014,905 ASP AVE,NORMAN,UNITED STATES OF AMERICA,...,1,H-1B,85000,NaN,Year,0,NORMAN,CLEVELAND,73019,OK
2,DALLAS,HASEENA ENU,TX,I-200-09180-329758,3,1/3/2013,12/15/2014,6021 CONNECTION DRIVE,IRVING,UNITED STATES OF AMERICA,...,1,H-1B,94000,NaN,Year,0,SAN DIEGO,SAN DIEGO,92127,CA
3,SCHAUMBURG,ELDON KAKUDA,IL,I-200-09183-259985,0,3/10/2015,3/16/2015,9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,UNITED STATES OF AMERICA,...,2,H-1B,66000,70000,Year,0,HOUSTON,HARRIS,77088,TX
4,WASHINGTON,JAMES ALEXANDER,DC,I-200-09189-800933,0,12/17/2014,12/23/2014,8250 JONES BRANCH DRIVE,MCLEAN,UNITED STATES OF AMERICA,...,1,H-1B,97000,143300,Year,0,MCLEAN,FAIRFAX,22102,VA

In [162]:
df.WORKSITE_STATE.unique()

array(['CA', 'OK', 'TX', 'VA', 'LA', 'GA', 'DE', 'PA', 'NM', 'CO', 'NJ',
       'IL', 'NY', 'MI', 'TN', 'OH', 'NC', 'FL', 'WA', 'AZ', 'DC', 'IA',
       'MD', 'KS', 'KY', 'CT', 'RI', 'MO', 'SD', 'MN', 'IN', 'MA', 'AR',
       'SC', 'NH', 'OR', 'ME', 'HI', 'WI', 'NE', 'AK', 'WV', 'NV', 'AL',
       'ND', 'UT', 'VT', 'MS', 'ID', 'WY', 'MT', 'MP', 'GU', 'PR', 'VI',
       'PW', 'MH', 'FM'], dtype=object)

In [163]:
le_WORKSITE_STATE=preprocessing.LabelEncoder()
le_WORKSITE_STATE.fit(['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS',
'KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY',
'NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV',
'WI','WY','DC','MP','GU','PR','VI','PW','MH','FM'])
X[:,31]=le_WORKSITE_STATE.transform(X[:,31])

In [164]:
X[0:25]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.',
        'MN', '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER',
        19000.0, 'Year', 2014.0, '17-2141.00', 'MECHANICAL ENGINEERS',
        1.0, 'H-1B', 20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS',
        '55412', 4],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 'OK',
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 40],
       ['DALLAS', 'HASEENA ENU', 'TX', 'I-200-09180-329758', 3,
        '1/3/2013', '12/15/2014', '6021 CONNECTION DRIVE', 'IRVING',
        'UNITED STATES OF AMERICA', 'NOKIA INC.', 'TX', '1/6/2016',
        '1/7/2013', 'N', 'RELEASE AND SOFTWARE TEST MANAGER', 73965.0,
        'Year', 2012.0, '15-1799', 'COMPUTER OCCUPATIONS, ALL OTHER*',
        1.0, 'H-1B', 94000.0, nan, 'Year', 0, 'SAN DIEGO', 'SAN DIEGO',
        '92127', 4],
       ['SCHAUMBURG', 'ELDON KAKUDA', 'IL', 'I-200-09183-259985', 0,
        '3/10/2015', '3/16/2015', '9510 N. HOUSTON ROSSLYN ROAD',
        'HOUSTON', 'UNITED STATES OF AMERICA',
        'OMRON OILFIELD AND MARINE, INC.', 'TX', '9/7/2018', '9/7/2015',
        'N', 'CONTROL ENGINEERING SPECIALIST', 65998.0, 'Year', 2014.0,
        '17-2072', 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 2.0, 'H-1B',
        66000.0, 70000.0, 'Year', 0, 'HOUSTON', 'HARRIS', '77088', 49],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09189-800933', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA', 'FEDERAL HOME LOAN MORTGAGE CO.',
        'VA', '6/5/2018', '6/6/2015', 'N', 'DEVELOPMENT SENIOR', 96907.0,
        'Year', 2014.0, '15-1131', 'COMPUTER PROGRAMMERS', 1.0, 'H-1B',
        97000.0, 143300.0, 'Year', 0, 'MCLEAN', 'FAIRFAX', '22102', 51],
       ['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09195-662319', 3,
        '1/22/2015', '1/22/2015', '2885 COUNTRY DRIVE', 'LITTLE CANADA',
        'UNITED STATES OF AMERICA', 'APLARS, LLC', 'MN', '1/25/2016',
        '1/25/2015', 'N', 'BUSINESS ANALYST', 20000.0, 'Year', 2015.0,
        '19-3021.00', 'MARKET RESEARCH ANALYSTS', 1.0, 'H-1B', 20000.0,
        nan, 'Year', 0, 'SIT', 'LUNGE', '55000', 20],
       ['AUSTIN', 'JACQUELYN MARONEY', 'TX', 'I-200-09212-834534', 0,
        '10/14/2014', '10/20/2014', '3401 HILLVIEW AVE', 'PALO ALTO',
        'UNITED STATES OF AMERICA', 'VMWARE, INC.', 'CA', '11/2/2017',
        '11/3/2014', 'N', 'STAFF ENGINEER', 133976.0, 'Year', 2014.0,
        '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS', 1.0, 'H-1B',
        155000.0, nan, 'Year', 0, 'PALO ALTO', 'SANTA CLARA', '94304', 4],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09232-212049', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA',
        'FEDERAL HOME LOAN MORTGAGE CORPORATION', 'VA', '6/13/2018',
        '6/14/2015', 'N', 'CREDIT GUARANTEE ANALYTICS SENIOR', 64085.0,
        'Year', 2014.0, '15-2031', 'OPERATIONS RESEARCH ANALYSTS', 1.0,
        'H-1B', 64100.0, 127000.0, 'Year', 0, 'MCLEAN', 'FAIRFAX',
        '22102', 51],
       ['AUSTIN', 'JACQUELYN MARONEY', 'TX', 'I-200-09233-732656', 0,
        '10/29/2014', '11/4/2014', '3401 HILLVIEW AVE', 'PALO ALTO',
        'UNITED STATES OF AMERICA', 'VMWARE, INC.', 'CA', '11/16/2017',
        '11/17/2014', 'N',
        'PROGRAMMER/ANALYST - SENIOR APPLICATIONS DEVELOPER', 101900.0,
        'Year', 2014.0, '15-1121', 'COMPUTER SYSTEMS ANALYSTS', 1.0,
        'H-1B', 125000.0, nan, 'Year', 0, 'PALO ALTO', 'SANTA CLARA',
        '94304', 4],
       ['DULUTH', 'SOCHEAT CHEA', 'GA', 'I-200-09238-535119', 2,
        '3/19/2015', '3/30/2015', '65 CRESTRIDGE DRIVE', 'SUWANEE',
        'UNITED STATES OF AMERICA', 'IMAEX TRADING COMPANY', 'GA',
        '9/17/2018', '9/17/2015', 'N', 'COST ACCOUNTANT', 22.46, 'Hour',
        2015.0, '13-2011', 'ACCOUNTANTS AND AUDITORS', 1.0, 'H-1B',
        22.46, nan, 'Hour', 0, 'SUWANEE', 'FORSYTH', '30024', 11],
       ['AUSTIN', 'JACQUELYN MARONEY', 'TX', 'I-200-09244-289740', 0,
        '10/22/2014', '10/28/2014', '3401 HILLVIEW AVE', 'PALO ALTO',
        'UNITED STATES OF AMERICA', 'VMWARE, INC.', 'CA', '4/22/2018',
        '4/23/2015', 'N',
        'MEMBER OF TECHNICAL STAFF - SOFTWARE ENGINEERING', 98557.0,
        'Year', 2014.0, '15-1132', 'SOFTWARE DEVELOPERS, APPLICATIONS',
        1.0, 'H-1B', 122430.0, nan, 'Year', 0, 'PALO ALTO',
        'SANTA CLARA', '94304', 4],
       [nan, nan, nan, 'I-200-09261-001558', 2, '3/20/2015', '3/31/2015',
        '1110 ELDEN STREET', 'HERNDON', 'UNITED STATES OF AMERICA',
        'INTERNATIONAL SOLUTIONS GROUP, INC.', 'VA', '8/20/2018',
        '8/20/2015', 'Y', 'PROGRAMMER ANALYST', 66976.0, 'Year', 2015.0,
        '15-1021.00', 'COMPUTER PROGRAMMERS', 1.0, 'H-1B', 64688.0, nan,
        'Year', 0, 'MIDDLETOWN', 'NEW CASTLE', '19709', 8],
       ['AUSTIN', 'JACQUELYN MARONEY', 'TX', 'I-200-09274-925070', 0,
        '10/22/2014', '10/28/2014', '3401 HILLVIEW AVE', 'PALO ALTO',
        'UNITED STATES OF AMERICA', 'VMWARE, INC.', 'CA', '11/9/2017',
        '11/10/2014', 'N',
        'SENIOR MEMBER OF TECHNICAL STAFF - QUALITY ENGINEERING',
        111742.0, 'Year', 2014.0, '15-1199',
        'COMPUTER OCCUPATIONS, ALL OTHER', 1.0, 'H-1B', 140000.0, nan,
        'Year', 0, 'PALO ALTO', 'SANTA CLARA', '94304', 4],
       [nan, nan, nan, 'I-200-09285-514415', 0, '10/24/2014',
        '10/30/2014', '388 WASHINGTON ROAD', 'SAYREVILLE',
        'UNITED STATES OF AMERICA', 'IT CATS LLC', 'NJ', '10/23/2017',
        '10/24/2014', 'Y', 'SENIOR BUSINESS ANALYST', 52.46, 'Hour',
        2014.0, '15-1121', 'COMPUTER SYSTEMS ANALYSTS', 1.0, 'H-1B',
        60.0, 65.0, 'Hour', 0, 'NORTH WALES,', 'MONTGOMERY', '19454', 42],
       ['AUSTIN', 'JACQUELYN MARONEY', 'TX', 'I-200-09296-661220', 0,
        '10/29/2014', '11/4/2014', '3401 HILLVIEW AVE', 'PALO ALTO',
        'UNITED STATES OF AMERICA', 'VMWARE, INC.', 'CA', '2/2/2018',
        '2/3/2015', 'N',
        'SENIOR MEMBER OF TECHNICAL STAFF - SOFTWARE ENGINEERING',
        113775.0, 'Year', 2014.0, '15-1132',
        'SOFTWARE DEVELOPERS, APPLICATIONS', 1.0, 'H-1B', 140000.0, nan,
        'Year', 0, 'PALO ALTO', 'SANTA CLARA', '94304', 4],
       ['ATLANTA', 'Scott Decker', 'GA', 'I-200-09302-785109', 1,
        '2/2/2012', '10/29/2014', '105 CORPORATE CENTER BLVD',
        'GREENSBORO', 'UNITED STATES OF AMERICA', 'VF CORPORATION', 'NC',
        '4/25/2015', '4/25/2012', 'N',
        'PROJECT MANAGER (DIGITAL/ECOMMERCE)', 110300.0, 'Year', 2011.0,
        '21-Nov', 'COMPUTER AND INFORMATION SYSTEMS MANAGERS', 1.0,
        'H-1B', 125000.0, nan, 'Year', 0, 'CYPRESS', 'ORANGE', '90630',
        4],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09313-334737', 0,
        '12/19/2014', '12/29/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA',
        'FEDERAL HOME LOAN MORTGAGE CORPORATION', 'VA', '6/15/2018',
        '6/16/2015', 'N', 'SYSTEMS ANALYSIS SENIOR', 75200.0, 'Year',
        2014.0, '15-1121', 'COMPUTER SYSTEMS ANALYSTS', 1.0, 'H-1B',
        75200.0, 132500.0, 'Year', 0, 'RESTON', 'FAIRFAX', '20190', 51],
       ['DALLAS', 'LAURIE SNIDER', 'TX', 'I-200-09316-752823', 3,
        '10/13/2014', '10/13/2014', '1510 WEST LOOP SOUTH', 'HOUSTON',
        'UNITED STATES OF AMERICA', "LANDRY'S RESTAURANTS, INC.", 'TX',
        '10/12/2017', '10/13/2014', 'N', 'GENERAL MANAGER', 89569.0,
        'Year', 2012.0, '11-9051.00', 'FOOD SERVICE MANAGERS', 1.0,
        'H-1B', 109360.0, 164040.0, 'Year', 0, 'HOUSTON', 'HARRIS',
        '77027', 49],
       ['DALLAS', 'LAURIE SNIDER', 'TX', 'I-200-09317-262420', 3,
        '10/13/2014', '10/13/2014', '1510 WEST LOOP SOUTH', 'HOUSTON',
        'UNITED STATES OF AMERICA', "LANDRY'S RESTAURANTS, INC.", 'TX',
        '10/12/2017', '10/13/2014', 'N', 'GENERAL MANAGER', 56722.0,
        'Year', 2012.0, '11-9051.00', 'FOOD SERVICE MANAGERS', 1.0,
        'H-1B', 69175.0, nan, 'Year', 0, 'ALBUQUERQUE', 'BERNALILLO',
        '87109', 36],
       ['LOS ANGELES', 'JEFFREY KIKUTA', 'CA', 'I-200-09321-731590', 0,
        '12/18/2014', '12/24/2014', '100 WEST WALNUT STREET', 'PASADENA',
        'UNITED STATES OF AMERICA', 'PARSONS SERVICES COMPANY', 'CA',
        '1/11/2018', '1/12/2015', 'N', 'SENIOR IT SPECIALIST', 108472.0,
        'Year', 2014.0, '15-1141', 'DATABASE ADMINISTRATORS', 1.0,
        'H-1B', 110000.0, 145000.0, 'Year', 0, 'PAASADENA',
        'LOS ANGELES', '91124', 4],
       ['FARMINGTON HILLS', 'RYAN ADWERS', 'MI', 'I-200-09329-943146', 1,
        '1/14/2015', '7/27/2015', '5725 DELPHI DRIVE', 'TROY',
        'UNITED STATES OF AMERICA', 'DELPHI CORPORATION', 'MI',
        '9/13/2017', '5/31/2015', 'N',
        'ALGORITHM-STATE ESTIMATION DEVELOPMENT ENGINEER', 91936.0,
        'Year', 2014.0, '17-2071', 'ELECTRICAL ENGINEERS', 1.0, 'H-1B',
        91936.0, nan, 'Year', 0, 'AGOURA HILLS', 'LOS ANGELES', '91301',
        4],
       ['DALLAS', 'LAURIE SNIDER', 'TX', 'I-200-09334-392690', 3,
        '10/13/2014', '10/13/2014', '3333 S. BANNOCK STREET',
        'ENGLEWOOD', 'UNITED STATES OF AMERICA',
        'DAIRY INFORMATION SYSTEMS HOLDINGS LLC', 'CO', '10/12/2017',
        '10/13/2014', 'N', 'APPLICATIONS PROGRAMMING MANAGER', 94411.0,
        'Year', 2012.0, '15-1051.00', 'COMPUTER SYSTEMS ANALYSTS', 1.0,
        'H-1B', 107872.0, nan, 'Year', 0, 'ENGLEWOOD', 'ARAPAHOE',
        '80110', 5],
       [nan, nan, nan, 'I-200-09338-814236', 1, '2/21/2013', '1/19/2015',
        '4 ETHEL RD, SUITE 403B', 'EDISON', 'UNITED STATES OF AMERICA',
        'INTEGRATED RESOURCES, INC', 'NJ', '9/21/2015', '2/21/2013', 'Y',
        'OCCUPATIONAL THERAPISTS', 32.97, 'Hour', 2012.0, '29-1122',
        'OCCUPATIONAL THERAPISTS', 1.0, 'H-1B', 35.0, nan, 'Hour', 0,
        'VINELAND', 'CUMBERLAND', '8362', 35],
       [nan, nan, nan, 'I-200-09341-564186', 1, '6/17/2013', '1/26/2015',
        '205 HOUSE AVENUE SUITE#103', 'CAMP HILL',
        'UNITED STATES OF AMERICA', 'XPERT TECHNOLOGIES, INC.', 'PA',
        '6/19/2016', '6/19/2013', 'Y', 'QUALITY ASSURANCE ANALYST',
        58282.0, 'Year', 2012.0, '15-1799',
        'COMPUTER OCCUPATIONS, ALL OTHER*', 1.0, 'H-1B', 60000.0, nan,
        'Year', 0, 'CAMP HILL', 'CUMBERLAND', '17011', 42],
       ['SOUTHFIELD', 'JOHN BOUDIA', 'MI', 'I-200-09342-274341', 0,
        '2/13/2015', '2/22/2015', "559 D'ONOFRIO DRIVE, SUITE 101 & 102",
        'MADISON', 'UNITED STATES OF AMERICA', 'ISR INFO WAY, INC.',
        'WI', '3/3/2018', '3/4/2015', 'Y', 'SR. SOFTWARE DEVELOPER',
        84906.0, 'Year', 2014.0, '15-1132',
        'SOFTWARE DEVELOPERS, APPLICATIONS', 1.0, 'H-1B', 84906.0,
        105000.0, 'Year', 0, 'CHICAGO', 'COOK', '60601', 16]],
      dtype=object)

In [165]:
df.EMPLOYER_STATE.unique()

array(['MN', 'OK', 'TX', 'VA', 'CA', 'GA', 'NJ', 'NC', 'MI', 'CO', 'PA',
       'WI', 'NY', 'IL', 'CT', 'WA', 'DE', 'AZ', 'MD', 'MO', 'OR', 'IN',
       'KS', 'IA', 'MA', 'TN', 'NE', 'SC', 'LA', 'OH', 'NH', 'RI', 'FL',
       'AR', 'ID', 'AK', 'DC', 'WV', 'KY', 'NM', 'AL', 'NV', 'UT', 'HI',
       'WY', 'VT', 'ND', 'MS', 'MP', 'MT', 'PR', 'SD', 'ME', 'GU', 'VI',
       'PW'], dtype=object)

In [166]:
le_EMPLOYER_STATE=preprocessing.LabelEncoder()
le_EMPLOYER_STATE.fit(['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IN','IA','KS',
'KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY',
'NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV',
'WI','WY','DC','MP','GU','PR','VI','PW','MH','FM'])
X[:,12]=le_EMPLOYER_STATE.transform(X[:,12])

In [167]:
X[0:5]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '2/5/2015', '2/5/2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.', 26,
        '2/28/2015', '2/9/2015', 'N', 'MECHANICAL ENGINEER', 19000.0,
        'Year', 2014.0, '17-2141.00', 'MECHANICAL ENGINEERS', 1.0,
        'H-1B', 20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS',
        '55412', 4],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12/12/2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 40,
        '1/4/2018', '1/5/2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 40],
       ['DALLAS', 'HASEENA ENU', 'TX', 'I-200-09180-329758', 3,
        '1/3/2013', '12/15/2014', '6021 CONNECTION DRIVE', 'IRVING',
        'UNITED STATES OF AMERICA', 'NOKIA INC.', 49, '1/6/2016',
        '1/7/2013', 'N', 'RELEASE AND SOFTWARE TEST MANAGER', 73965.0,
        'Year', 2012.0, '15-1799', 'COMPUTER OCCUPATIONS, ALL OTHER*',
        1.0, 'H-1B', 94000.0, nan, 'Year', 0, 'SAN DIEGO', 'SAN DIEGO',
        '92127', 4],
       ['SCHAUMBURG', 'ELDON KAKUDA', 'IL', 'I-200-09183-259985', 0,
        '3/10/2015', '3/16/2015', '9510 N. HOUSTON ROSSLYN ROAD',
        'HOUSTON', 'UNITED STATES OF AMERICA',
        'OMRON OILFIELD AND MARINE, INC.', 49, '9/7/2018', '9/7/2015',
        'N', 'CONTROL ENGINEERING SPECIALIST', 65998.0, 'Year', 2014.0,
        '17-2072', 'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 2.0, 'H-1B',
        66000.0, 70000.0, 'Year', 0, 'HOUSTON', 'HARRIS', '77088', 49],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09189-800933', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA', 'FEDERAL HOME LOAN MORTGAGE CO.', 51,
        '6/5/2018', '6/6/2015', 'N', 'DEVELOPMENT SENIOR', 96907.0,
        'Year', 2014.0, '15-1131', 'COMPUTER PROGRAMMERS', 1.0, 'H-1B',
        97000.0, 143300.0, 'Year', 0, 'MCLEAN', 'FAIRFAX', '22102', 51]],
      dtype=object)

In [169]:
df.to_csv(r'C:\Users\ghasija1\Downloads\FiveYearCleanCleanEncode.csv', encoding='utf-8')