In [1]:
import numpy as np
import pandas as pd

In [2]:
csv_path = "/Users/danishmir/desktop/737-project/FiveYearCleanClean-ToFromClean.csv"

In [3]:
df=pd.read_csv(csv_path)

FileNotFoundError: [Errno 2] File /Users/danishmir/desktop/737-project/FiveYearCleanClean-ToFromClean.csv does not exist: '/Users/danishmir/desktop/737-project/FiveYearCleanClean-ToFromClean.csv'

In [ ]:
df.head(5)

In [11]:
import numpy as np
df.drop(["Unnamed: 0"], axis = 1, inplace = True) # dropping redundunt s.no

In [12]:
df.reset_index(drop=True, inplace=True)

In [17]:
df.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_COUNTRY,...,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,I-200-09121-701936,WITHDRAWN,02-05-2015,02-05-2015,710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,UNITED STATES OF AMERICA,...,1.0,H-1B,20000,NaN,Year,N,EDEN PRAIRIE,STERNS,55412,CA
1,NaN,NaN,NaN,I-200-09146-796321,CERTIFIED,12-12-2014,12/18/2014,905 ASP AVE,NORMAN,UNITED STATES OF AMERICA,...,1.0,H-1B,85000,NaN,Year,N,NORMAN,CLEVELAND,73019,OK
2,DALLAS,HASEENA ENU,TX,I-200-09180-329758,WITHDRAWN,01-03-2013,12/15/2014,6021 CONNECTION DRIVE,IRVING,UNITED STATES OF AMERICA,...,1.0,H-1B,94000,NaN,Year,N,SAN DIEGO,SAN DIEGO,92127,CA
3,SCHAUMBURG,ELDON KAKUDA,IL,I-200-09183-259985,CERTIFIED,03-10-2015,3/16/2015,9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,UNITED STATES OF AMERICA,...,2.0,H-1B,66000,70000,Year,N,HOUSTON,HARRIS,77088,TX
4,WASHINGTON,JAMES ALEXANDER,DC,I-200-09189-800933,CERTIFIED,12/17/2014,12/23/2014,8250 JONES BRANCH DRIVE,MCLEAN,UNITED STATES OF AMERICA,...,1.0,H-1B,97000,143300,Year,N,MCLEAN,FAIRFAX,22102,VA

In [13]:
#df.describe(include="all")# include all helps to the data including irregularities like NaN

In [31]:
missing_data=df.isnull()#returns True if null is present
#missing_data.head(10)

In [32]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

AGENT_ATTORNEY_CITY
False    656049
True     392525
Name: AGENT_ATTORNEY_CITY, dtype: int64

AGENT_ATTORNEY_NAME
False    821448
True     227126
Name: AGENT_ATTORNEY_NAME, dtype: int64

AGENT_ATTORNEY_STATE
False    638374
True     410200
Name: AGENT_ATTORNEY_STATE, dtype: int64

CASE_NUMBER
False    1048574
Name: CASE_NUMBER, dtype: int64

CASE_STATUS
False    1048574
Name: CASE_STATUS, dtype: int64

CASE_SUBMITTED
False    1048574
Name: CASE_SUBMITTED, dtype: int64

DECISION_DATE
False    1048574
Name: DECISION_DATE, dtype: int64

EMPLOYER_ADDRESS
False    1048574
Name: EMPLOYER_ADDRESS, dtype: int64

EMPLOYER_CITY
False    1048574
Name: EMPLOYER_CITY, dtype: int64

EMPLOYER_COUNTRY
False    1048574
Name: EMPLOYER_COUNTRY, dtype: int64

EMPLOYER_NAME
False    1048574
Name: EMPLOYER_NAME, dtype: int64

EMPLOYER_STATE
False    1048520
True          54
Name: EMPLOYER_STATE, dtype: int64

EMPLOYMENT_END_DATE
False    1048543
True          31
Name: EMPLOYMENT_END_DATE, dtype: int64

EMPLOYMENT_START_DATE
False    1048546
True          28
Name: EMPLOYMENT_START_DATE, dtype: int64

H-1B_DEPENDENT
False    1027945
True       20629
Name: H-1B_DEPENDENT, dtype: int64

JOB_TITLE
False    1048553
True          21
Name: JOB_TITLE, dtype: int64

PREVAILING_WAGE
False    1048506
True          68
Name: PREVAILING_WAGE, dtype: int64

PW_UNIT_OF_PAY
False    1048483
True          91
Name: PW_UNIT_OF_PAY, dtype: int64

PW_WAGE_SOURCE_YEAR
False    1048477
True          97
Name: PW_WAGE_SOURCE_YEAR, dtype: int64

SOC_CODE
False    1048559
True          15
Name: SOC_CODE, dtype: int64

SOC_NAME
False    1048557
True          17
Name: SOC_NAME, dtype: int64

TOTAL_WORKERS
False    1048559
True          15
Name: TOTAL_WORKERS, dtype: int64

VISA_CLASS
False    1048574
Name: VISA_CLASS, dtype: int64

WAGE_RATE_OF_PAY_FROM
False    1048555
True          19
Name: WAGE_RATE_OF_PAY_FROM, dtype: int64

WAGE_RATE_OF_PAY_TO
True     918838
False    129736
Name: WAGE_RATE_OF_PAY_TO, dtype: int64

WAGE_UNIT_OF_PAY
False    1048540
True          34
Name: WAGE_UNIT_OF_PAY, dtype: int64

WILLFUL_VIOLATOR
False    1027943
True       20631
Name: WILLFUL_VIOLATOR, dtype: int64

WORKSITE_CITY
False    1048527
True          47
Name: WORKSITE_CITY, dtype: int64

WORKSITE_COUNTY
False    1046492
True        2082
Name: WORKSITE_COUNTY, dtype: int64

WORKSITE_POSTAL_CODE
False    1048521
True          53
Name: WORKSITE_POSTAL_CODE, dtype: int64

WORKSITE_STATE
False    1048542
True          32
Name: WORKSITE_STATE, dtype: int64

In [51]:
df.columns

Index(['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'],
      dtype='object')

In [37]:
# drop whole row with NaN in "WILLFUL_VIOLATOR" column as we have identified this column for encoding
df.dropna(subset=["WILLFUL_VIOLATOR"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [38]:
X=df[['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE']].values

In [39]:
X[:2]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936',
        'WITHDRAWN', '02-05-2015', '02-05-2015',
        '710 MEDTRONIC PARKWAY NE', 'MINNEAPOLIS',
        'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.', 'MN', '2/28/2015',
        '02-09-2015', 'N', 'MECHANICAL ENGINEER', 19000.0, 'Year',
        2014.0, '17-2141.00', 'MECHANICAL ENGINEERS', 1.0, 'H-1B',
        20000.0, nan, 'Year', 'N', 'EDEN PRAIRIE', 'STERNS', '55412',
        'CA'],
       [nan, nan, nan, 'I-200-09146-796321', 'CERTIFIED', '12-12-2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 'OK',
        '01-04-2018', '01-05-2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 'N', 'NORMAN', 'CLEVELAND',
        '73019', 'OK']], dtype=object)

In [40]:
df.CASE_STATUS.unique()#find unique values withinn CASE_STATUS for encoding

array(['WITHDRAWN', 'CERTIFIED', 'DENIED', 'CERTIFIED-WITHDRAWN'],
      dtype=object)

In [41]:
from sklearn import preprocessing
le_CASE_STATUS=preprocessing.LabelEncoder()
le_CASE_STATUS.fit(['WITHDRAWN', 'CERTIFIED', 'DENIED', 'CERTIFIED-WITHDRAWN'])
X[:,4]=le_CASE_STATUS.transform(X[:,4])

In [42]:
df.WILLFUL_VIOLATOR.unique()#find unique values withinn WILLFUL_VIOLATOR for encoding

array(['N', 'Y'], dtype=object)

In [45]:
le_WILLFUL_VIOLATOR=preprocessing.LabelEncoder()
le_WILLFUL_VIOLATOR.fit(['N', 'Y'])
X[:,26]=le_WILLFUL_VIOLATOR.transform(X[:,26])

In [46]:
X[0:5]

array([['MINNEAPOLIS', 'DEBRA SCHNEIDER', 'MN', 'I-200-09121-701936', 3,
        '02-05-2015', '02-05-2015', '710 MEDTRONIC PARKWAY NE',
        'MINNEAPOLIS', 'UNITED STATES OF AMERICA', 'MEDTRONIC, INC.',
        'MN', '2/28/2015', '02-09-2015', 'N', 'MECHANICAL ENGINEER',
        19000.0, 'Year', 2014.0, '17-2141.00', 'MECHANICAL ENGINEERS',
        1.0, 'H-1B', 20000.0, nan, 'Year', 0, 'EDEN PRAIRIE', 'STERNS',
        '55412', 'CA'],
       [nan, nan, nan, 'I-200-09146-796321', 0, '12-12-2014',
        '12/18/2014', '905 ASP AVE', 'NORMAN',
        'UNITED STATES OF AMERICA', 'UNIVERSITY OF OKLAHOMA', 'OK',
        '01-04-2018', '01-05-2015', 'N', 'ASSISTANT PROFESSOR', 42860.0,
        'Year', 2014.0, '25-1032', 'ENGINEERING TEACHERS, POSTSECONDARY',
        1.0, 'H-1B', 85000.0, nan, 'Year', 0, 'NORMAN', 'CLEVELAND',
        '73019', 'OK'],
       ['DALLAS', 'HASEENA ENU', 'TX', 'I-200-09180-329758', 3,
        '01-03-2013', '12/15/2014', '6021 CONNECTION DRIVE', 'IRVING',
        'UNITED STATES OF AMERICA', 'NOKIA INC.', 'TX', '01-06-2016',
        '01-07-2013', 'N', 'RELEASE AND SOFTWARE TEST MANAGER', 73965.0,
        'Year', 2012.0, '15-1799', 'COMPUTER OCCUPATIONS, ALL OTHER*',
        1.0, 'H-1B', 94000.0, nan, 'Year', 0, 'SAN DIEGO', 'SAN DIEGO',
        '92127', 'CA'],
       ['SCHAUMBURG', 'ELDON KAKUDA', 'IL', 'I-200-09183-259985', 0,
        '03-10-2015', '3/16/2015', '9510 N. HOUSTON ROSSLYN ROAD',
        'HOUSTON', 'UNITED STATES OF AMERICA',
        'OMRON OILFIELD AND MARINE, INC.', 'TX', '09-07-2018',
        '09-07-2015', 'N', 'CONTROL ENGINEERING SPECIALIST', 65998.0,
        'Year', 2014.0, '17-2072',
        'ELECTRONICS ENGINEERS, EXCEPT COMPUTER', 2.0, 'H-1B', 66000.0,
        70000.0, 'Year', 0, 'HOUSTON', 'HARRIS', '77088', 'TX'],
       ['WASHINGTON', 'JAMES ALEXANDER', 'DC', 'I-200-09189-800933', 0,
        '12/17/2014', '12/23/2014', '8250 JONES BRANCH DRIVE', 'MCLEAN',
        'UNITED STATES OF AMERICA', 'FEDERAL HOME LOAN MORTGAGE CO.',
        'VA', '06-05-2018', '06-06-2015', 'N', 'DEVELOPMENT SENIOR',
        96907.0, 'Year', 2014.0, '15-1131', 'COMPUTER PROGRAMMERS', 1.0,
        'H-1B', 97000.0, 143300.0, 'Year', 0, 'MCLEAN', 'FAIRFAX',
        '22102', 'VA']], dtype=object)

In [53]:
df1=pd.DataFrame(X, columns = ['AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_STATE',
       'CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE',
       'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_COUNTRY',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYMENT_END_DATE',
       'EMPLOYMENT_START_DATE', 'H-1B_DEPENDENT', 'JOB_TITLE',
       'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_WAGE_SOURCE_YEAR', 'SOC_CODE',
       'SOC_NAME', 'TOTAL_WORKERS', 'VISA_CLASS', 'WAGE_RATE_OF_PAY_FROM',
       'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'WILLFUL_VIOLATOR',
       'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_POSTAL_CODE',
       'WORKSITE_STATE'])#saving encoded data into new dataframe

In [54]:
df1.head(5)

,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_STATE,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_COUNTRY,...,TOTAL_WORKERS,VISA_CLASS,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_POSTAL_CODE,WORKSITE_STATE
0,MINNEAPOLIS,DEBRA SCHNEIDER,MN,I-200-09121-701936,3,02-05-2015,02-05-2015,710 MEDTRONIC PARKWAY NE,MINNEAPOLIS,UNITED STATES OF AMERICA,...,1,H-1B,20000,NaN,Year,0,EDEN PRAIRIE,STERNS,55412,CA
1,NaN,NaN,NaN,I-200-09146-796321,0,12-12-2014,12/18/2014,905 ASP AVE,NORMAN,UNITED STATES OF AMERICA,...,1,H-1B,85000,NaN,Year,0,NORMAN,CLEVELAND,73019,OK
2,DALLAS,HASEENA ENU,TX,I-200-09180-329758,3,01-03-2013,12/15/2014,6021 CONNECTION DRIVE,IRVING,UNITED STATES OF AMERICA,...,1,H-1B,94000,NaN,Year,0,SAN DIEGO,SAN DIEGO,92127,CA
3,SCHAUMBURG,ELDON KAKUDA,IL,I-200-09183-259985,0,03-10-2015,3/16/2015,9510 N. HOUSTON ROSSLYN ROAD,HOUSTON,UNITED STATES OF AMERICA,...,2,H-1B,66000,70000,Year,0,HOUSTON,HARRIS,77088,TX
4,WASHINGTON,JAMES ALEXANDER,DC,I-200-09189-800933,0,12/17/2014,12/23/2014,8250 JONES BRANCH DRIVE,MCLEAN,UNITED STATES OF AMERICA,...,1,H-1B,97000,143300,Year,0,MCLEAN,FAIRFAX,22102,VA

In [55]:
df1.to_csv(r"/Users/danishmir/desktop/737-project/FiveYearCleanClean-ToFromClean-encoded.csv",index=True)